addict==2.4.0
albumentations
decord
einops
h5py
imageio
joblib
kmeans_gpu
kornia
matplotlib
mediapy
numpy==1.26.4
opencv-python==4.9.0.80
pillow
plyfile
plotly
point_cloud_utils
scikit-learn
scipy
tensorboard
tqdm
wandb
yapf==0.40.1
